In [1]:
# bool, int, float, str
a = 'Data Science'
print(a)
type(a)

Data Science

str

In [3]:
z = True
type(z)

bool

In [4]:
True + 6 + 7.5
#true = 1

14.5

In [6]:
int(7.9)+3

10

In [7]:
bool(0)

False

In [8]:
a = 3
b = 4.5

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [11]:
a = 'I am a Data Scientist'

a[2:4] #will print index 2 & 3

'am'

In [12]:
a[-9:] #negative indexing starting at -1 (letter t), 
        #then will print all letters till index -9

'Scientist'

In [13]:
# : -> slicing operator 
a[7:]

'Data Scientist'

In [14]:
a[:7]

'I am a '

In [16]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

slice_1 = my_list[2:6] 
print(slice_1)

slice_2 = my_list[1:]
print(slice_2)

slice_3 = my_list[:5]
print(slice_3)

slice_4 = my_list[::2]
print(slice_4)

[3, 4, 5, 6]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]